<h2 class="modal">Add showings for {{movieData.title}}</h2>
<form [formGroup]="showingForm" (ngSubmit)="saveShowing()">
    <!-- Min time is 1:00, max is 12:55
        May replace with Time Picker from Material though -->
    <p class="modal"><input type="number" id="hours" formControlName="hours" min="1" max="12">:<input type="number" id="minutes" formControlName="minutes" min="0" max="55" step="5"><button>AM</button><button>PM</button></p>
    <button type="submit">Add</button>
    <div *ngFor="let showing of showings">
        <p class="modal">{{formatShowing(showing.time)}}<button type="button" (click)="deleteShowing(showing.id)">X</button></p>
    </div>
</form>