<h2 class="modal">Enter information for the movie you would like to add:</h2>
<form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
    <p for="name" class="modal">Title</p>
    <input id="title" type="text" formControlName="title" required>
    <p class="modal">Runtime</p>
    <p class="modal"><input type="number" id="hours" formControlName="hours" maxlength="2"> hours <input type="number" id="minutes" formControlName="minutes" maxlength="2"> minutes</p>
    <button type="submit">Save</button>
</form>